{% load week_tag %}

<section class="wrapper">

    <div>
        <ul class="glider-track">

            {% now "D j M" as today %}
            {% get_week as week %}

            {% for day in week %}
                {% if day == day_selected %}
                    <li class="glider-date selected">
                {% else %}
                    <li class="glider-date">
                {% endif %}
                    <form method="GET" action="{% url 'cinema-home' %}">

                        <input type="hidden" name="day" value="{{ day|date:'SHORT_DATE_FORMAT' }}">

                        <button type="submit" class="day">
                            {% if day|date:"D j M" == today %}
                                <span class="button">TODAY</span>
                            {% else %}
                                <span class="button">{{ day|date:"D"|upper }}</span>
                                <br>
                                {{ day|date:"j F" }}
                            {% endif %}
                        </button>

                        </form>
                    </li>

            {% endfor %}

        </ul>
    </div>

</section>
