{% extends 'cinema_admin/page.html' %}

{% block content %}

<section>
    <div class="sign-form">
        <div class="edit-panel">
            <p class="first">CREATION OF FILM DISTRIBUTION</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">
                {% if form.non_field_errors %}
                <ul class="errorlist">
                    📛️
                    {{ form.non_field_errors|linebreaksbr }}
                </ul>
                {% endif %}
            </div>

            {% for f in form %}
            {% if f.id_for_label == 'id_start_hour' %}
            <p class="form-input">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                <br>
                {{ f }} :
                {% elif f.id_for_label == 'id_start_minute' %}
                {{ f }}</p>
            <div class="form-error">
                {% if f.errors %}
                <ul class="errorlist">
                    {% for error in f.errors %}
                    👆🏽 {{ error }}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% else %}
            <p class="form-input">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                <br>
                {{ f }}
            </p>
            <div class="form-error">
                {% if f.errors %}
                <ul class="errorlist">
                    {% for error in f.errors %}
                    👆🏽 {{ error }}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}

            <button type="submit" class="form-button">{{ title|title }}</button>
        </form>
    </div>
</section>

{% endblock %}
