{% load week_period_tag %}
{% get_week_period as week %}

<section>
    <div>
        <ul class="glider-track">
            {% now "D j M" as today %}
            {% for day in week %}
            {% if day == day_selected %}
            <li class="glider-date d-selected">
                {% else %}
            <li class="glider-date">
                {% endif %}
                <form method="GET">
                    <input type="hidden" name="day" value="{{ day|date:'SHORT_DATE_FORMAT' }}">
                    <button type="submit" class="day">
                        {% if day|date:"D j M" == today %}
                        <span class="button">TODAY</span>
                        {% else %}
                        <span class="button">{{ day|date:"D"|upper }}</span>
                        <br>
                        {{ day|date:"j N" }}
                        {% endif %}
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
