{% extends 'staff/base.html' %}

{% block page %}

    <main class="wrapper">
        <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr><td valign=top>

        {% block header %}
            {% include 'staff/header.html' %}
        {% endblock header %}

        <table class="table-content" border=0 cellpadding="0" cellspacing="0">
        <tr><td valign="top" class="left-chapters">

        {% block sidebar %}
            {% include 'staff/sidebar.html' %}
        {% endblock sidebar %}

        </td>
        <td valign="top" class="content">

        {% block content %}
        {% endblock content %}

        </td></tr></table>
        </td></tr>
        <tr><td valign=top>

        {% block footer %}
        {% endblock footer %}

        </td></tr></table>
    </main>

{% endblock page %}
