{% extends 'staff/page.html' %}

{% block content %}

<section>
    <div class="sign-form">

        <div class="edit-panel">
            <p class="first">
                {{ title|upper }}
            </p>
                <form method="post" action="{% url 'del-showtime' show_id %}">
                    {% csrf_token %}
                    <button class="last delete" type="submit">
                        Delete screen
                    </button>
                </form>
            </p>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="form-error">
                {{ form.non_field_errors }}
            </div>

            {% for f in form %}
                <p class="form-input">
                    <label class="form-label" for="{{ f.id_for_label }}">
                        {{ f.label }}
                    </label>

                    {{ f }}
                </p>

                <div class="form-error">
                    {{ f.errors }}
                </div>
            {% endfor %}

            {% if not attendance %}
                <button type="submit" class="form-button">
                    {{ title|title }}
                </button>
            {% else %}
                <p>
                    Editing is no longer available!
                    <br>
                    {{ attendance }} tickets sold per showtime
                </p>
            {% endif %}
        </form>
    </div>
</section>

{% endblock %}
